body {
    background-color: lightslategray;
    padding: 0px 50px;
}

p {
    font-family: 'Jaldi', sans-serif;
    margin-bottom: 2px;
}

#container {
    text-align: center;
}

#header {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 30px;
}

.animal {
    font-family: 'Jaldi', sans-serif;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}

#animal-form {
    font-family: 'Jaldi', sans-serif;
    padding: 10px;
}

#inline {
    display: inline-block;
    padding: 15px;
}



/* 
font-family: 'Amatic SC', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Sintony', sans-serif; 
font-family: 'Jaldi', sans-serif; */